*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
.Header{
    width: 100%;
    height: 11%;
    background-color: #101726;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 1; 
    top: 0;
}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
    font-weight:bold;
    font-family: sans-serif;
    gap: 12px;
    margin-left: 150px;
}
.right,.right > a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: sans-serif;
    font-size: 16px;
    margin-right: 170px;
    gap: 20px;
}
#object1:hover,#object2:hover,#object3:hover,#object4 > a:hover,#object5:hover,#object6:hover{
    color: #CBD5E1 ;
    cursor: pointer;
}
#object7:hover{
    cursor: pointer;
}
#object4 > a{
    text-decoration: none;
    color: white;
}
.left > img{
    height: 55px;
}
.left > h1:hover{
    color: #facc15;
    cursor: pointer;
}
#object7{
    color: #facc15;
}
#object8{
    border: 1px solid #101726;
    border-radius: 5px;
    background-color: #f6c72dea;
    color: black;
    padding: 5px 8px 5px 8px;
    font-size: 18px;
    margin-bottom: 5px;
}
#object8:hover{
    background-color: #D1A527;
    scale: 1.1;
    transition: .25s ease-in-out;
}
.section1{
    width: 100%;
    background-color: #1E2939;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.section1 > h1{
    font-size: 48px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 15px;
}
.Home{
   font-size: 18px;
   margin-right: 5px;
   color: #D1D5DC;
}
.Home:hover{
    color: #ffca28;
    cursor: pointer;
}
.Members{
    font-size: 18px;
    color: #ffca28;
    margin-left: 5px;
}
.line0{
    width: 90px;
    height: 4px;
    background-color: #ffca28;
    border-radius: 2px;
    margin-top: 30px;
    margin-bottom: 40px;
}
.section2{
    background-color: white;
    text-align: center;
}
.section2 > h1{
    margin: auto;
    margin-top: 60px;
    font-family: "Poppins", "Montserrat", sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: #1E2939;
}
.line1{
    width: 90px;
    height: 4px;
    margin: auto;
    background-color: #ffca28;
    border-radius: 2px;
    margin-top: 10px;
    margin-bottom: 30px; 
}
.detail{
    margin: auto;
    color: oklch(37.3% .034 259.733);
    font-family: "Poppins", "Open Sans", sans-serif;
    line-height: 1.8;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    max-width: 850px;
}
.section3{
    background-color: #F9FAFB;
    height: 1500px;
    margin-top: 60px;
}
.section3 > h2{
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 30px;
    color: oklch(27.8% .033 256.848);
    margin-bottom: 15px;
    padding-top: 70px;
    margin-bottom: 10px;
}
.details > h3{
    padding-bottom: 5px;
}
.line2{
    width: 90px;
    height: 4px;
    background-color: #ffca28;
    border-radius: 2px;
    margin: auto;
}
.card1{
    background-image: url(MeghaSinghal.webp);
    margin: auto;
    margin-top: 70px; 
}
.card2{
    background-image: url(Aaradhya.webp);
}
.card3{
    background-image: url(Thania.webp);
}
.box1,.box2{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 30px;
}
.card4{
    background-image: url(Vikash.webp);
}
.card5{
    background-image: url(Dishil.webp);
}
.card1,.card2,.card3,.card4,.card5{
    height: 384px;
    width: 288px;
    background-repeat: no-repeat;
    background-size: 140%;
    border-radius: 25px;
    transition: .5s ease-in-out;
    filter: brightness(.9);
    overflow-x: hidden;
}
.card1:hover,.card2:hover,.card3:hover,.card4:hover,.card5:hover{
    background-size: 165%;
    filter: brightness(1);
}
.card1:hover,.card4:hover,.card5:hover{
    background-position-x: 30%;
}
.card-gradient0{
    position: relative;
    bottom: 329px;
    right: 8px;
    background-color: #000000;
    border-top-left-radius: 18px;
    background: linear-gradient(to right, #ffca28 0%, rgba(255, 202, 40, 0.1) 100%);
    height: 4.5px;
    width: 270px;
}
.details{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 20px;
    margin-top: 280px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
}
.position{
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    color: #FFD700;
    font-weight: 700;
}
.contact{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 5px;
}
.section4{
    background-color: #F9FAFB;
    height: 640px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    line-height: 1.2;
    color: #11284A;
}
.section4 > h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
}
.line3{
    width: 90px;
    height: 4px;
    background-color: #ffca28;
    border-radius: 2px;
    margin: auto;
    margin-bottom: 70px;
}
.packet1,.packet2,.packet3{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}
.n1,.n2,.n3,.n4{
    width: 260px;          
    height: 85px;          
    background: #FFFFFF;
    border:1px solid #E5E7EB;
    border-radius: 18px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
    text-align: center;
    padding-top: 30px;
    font-size: 16px;
    overflow-x: hidden;
}
.n5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 270px;          
    height: 85px;          
    background: #FFFFFF;
    border:1px solid #E5E7EB;
    border-radius: 18px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
    margin: auto;
    text-align: center;
    padding-top: 10px;
    font-size: 16px;
    overflow-x: hidden;
}
.card-gradient1{
    position: relative;
    bottom: 30px;
    left: 6px;
    overflow-x: hidden;
    background-color: #000000;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    background: linear-gradient(90deg,#E7C51F 0%,#FBC800 45%,#E5E7EB 100%);
    height: 4px;
    width: 245px;
}
.card-gradient2{
    position: relative;
    bottom: 22px;
    overflow-x: hidden;
    background-color: #000000;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    background: linear-gradient(90deg,#E7C51F 0%,#FBC800 45%,#E5E7EB 100%);
    height: 4px;
    width: 260px;
}
.footer{
    height: 52%;
    width: 110%;
    background-color: #1a1a1a;
}
.footerstart{
    width: 100%;
    padding-right: 100px;
    height: 390px;
    background-color: #1a1a1a;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-right: 200px;
}
.footerleft{
    color: oklch(87.2% .01 258.338);
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 150px;
}
.footermiddle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: oklch(87.2% .01 258.338);
    gap: 10px;
    font-family: sans-serif;
    margin-right: 200px;
    font-size: 14px;
}
.footerright{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: oklch(87.2% .01 258.338);
    gap: 10px;
    margin-bottom: 90px;
    margin-right: 100px;
}
.footerleft > img{
    margin-bottom: 10px;
}
.footerleftdetails{
    text-align: left;
    margin-left: 10px;
    line-height: 1.6;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    max-width: 380px;
}
.icons{
    margin-top: 10px;
    margin-left: 4px;
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    color: oklch(85.2% .199 91.936);
}
.footermiddle > h3{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: sans-serif;
}
.footermiddle > p:hover{
    color: oklch(85.2% .199 91.936);
    cursor: pointer;
}
.footermiddle > a{
    text-decoration: none;
    color: oklch(87.2% .01 258.338);
}
.footermiddle > a:hover{
    color: oklch(85.2% .199 91.936);
}
.Email,.Phone{
    display: flex;
    gap: 10px;
    font-size: 16px;
}
.Address{
    display: flex;
    gap: 10px;
}
.footerright{
    max-width: 420px;
}
.footerright > h3{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    font-family: sans-serif;
}
.footerend{
    font-size: 14px;
    height: 50px;
    font-family: sans-serif;
    color: oklch(70.7% .022 261.325);
    text-align: center;
    padding-top: 20px;
    background-color: #1a1a1a;
    border-top: 1px solid oklch(70.7% .022 261.325);
}
/* Responsive between Laptop-L & Laptop (Only For Header) */
@media screen and (min-width: 1024px) and (max-width: 1149px){
.right, .right > a {
    margin-right: 30px;
}
.left {
    margin-left: 30px;
}
}
/* Responsive for Laptop */
@media screen and (min-width: 769px) and (max-width: 1024px){
.right, .right > a {
    margin-right: 30px;
}
.left {
    margin-left: 30px;
}
.footer {
    width: 110%;
    padding-right: 0px;
}
.footerleft {
    color: oklch(87.2% .01 258.338);
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 10px;
    max-width: 300px;
}
.footerright {
   max-width: 320px;
    margin-right: 10px;
}
.footerend{
    text-align: center;
}
.footermiddle {
    margin-right: 140px;
}
}
/* Responsive between Laptop & Tablet (Only For Header) */
@media screen and (min-width: 768px) and (max-width: 880px){
 .left {
    gap: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}
.right, .right > a {
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-right: 10px;
    gap: 10px;
}
.Header {
    height: 15%;
    gap: 10px;
}
}
/* Responsive for Tablet */
@media screen and (min-width: 540px) and (max-width: 768px){
.left {
    gap: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}
.right, .right > a {
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-right: 10px;
    gap: 10px;
}
.Header {
    height: 20%;
    gap: 10px;
}
.detail{
    color: oklch(37.3% .034 259.733);
    font-family: "Poppins", "Open Sans", sans-serif;
    line-height: 1.8;
    font-size: 14px;
    font-weight: 400;
}
.section4 {
    height: 940px;
}
.packet1, .packet2, .packet3 {
    display: flex;
    flex-wrap: wrap;
}
.footer{
    height: 67%;
}
.footerstart{
   gap: 20px;
}
.footerright {
    gap: 10px;
    margin-bottom: 95px;
    margin-right: 0;
    max-width: 230px;
}
.footermiddle{
    margin-right: 120px;
    margin-left: 20px;
    font-size: 14px;
    margin-bottom: 50px;
    width: 200px;
    min-width: 120px;
}
.footerleft{
    margin-bottom: 0px;
    margin-top: 20px;
    margin-left: 20px;
}
.footerleftdetails{
    min-width: 210px;
}
.footermiddle > h3 {
    font-size: 16px;
    font-weight: 600;
}
.footermiddle > a {
   width: 66px;
   white-space: nowrap;
}
.footerend {
    padding-top: 15px;
}
}
/* Responsive between Tablet & Mobile-L */
@media screen and (min-width: 426px) and (max-width: 540px){
.left {
    gap: 0px;
    margin-left: 0px;
    margin-bottom: 20px;
}
.right, .right > a {
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-right: 10px;
    gap: 10px;
}
.Header {
    height: 20%;
    gap: 10px;
}
.section3{
    height: 2300px;
}
.box1,.box2{
    flex-wrap: wrap;
}
.section4 {
    height: 1600px;
}
.packet1, .packet2, .packet3 {
    display: flex;
    flex-wrap: wrap;
}
.section4 > h2{
    width: 400px;
    margin: auto;
    margin-bottom: 20px;
}
.footerstart{
    height: 890px;
    flex-wrap: wrap;
}
.footerleft {
    margin-left: 10px;
    margin-top: 0px;
}
.footermiddle {
    margin-left: 20px;
}
.footerright {
    margin-top: 40px;
    margin-bottom: 0px;
    margin-left: 20px;
}
.footer{
    height: 950px;
}
}
/* Responsive for Mobile-L */
@media screen and (min-width: 376px) and (max-width: 426px){
.detail{
   max-width: 350px;
}
.left {
    gap: 0px;
    margin-left: 0px;
    margin-bottom: 20px;
}
.right, .right > a {
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-right: 10px;
    gap: 10px;
}
.Header {
    height: 20%;
    gap: 10px;
}
.section2 > h1 {
    width: 300px;
    margin:auto;
    margin-top: 30px;
}
.section3{
    height: 2300px;
}
.box1,.box2{
    flex-wrap: wrap;
}
.section4 {
    height: 1600px;
}
.packet1, .packet2, .packet3 {
    display: flex;
    flex-wrap: wrap;
}
.section4 > h2{
    width: 400px;
    margin: auto;
    margin-bottom: 20px;
}
.footerstart{
    height: 790px;
    flex-wrap: wrap;
}
.footerleft {
    margin-left: 10px;
    margin-top: 60px;
}
.footerleftdetails {
    min-width: 380px;
}
.footermiddle {
    margin-left: 20px;
}
.footerright {
    margin-top: 40px;
    margin-bottom: 80px;
    margin-left: 20px;
    min-width: 400px;
}
.footer{
    height: 850px;
}
}
/* Responsive for Mobile-M*/
@media screen and (min-width: 321px) and (max-width: 376px){
.left {
    gap: 0px;
    margin-left: 0px;
    margin-bottom: 20px;
}
.right, .right > a {
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-right: 10px;
    gap: 10px;
}
.Header {
    height: 20%;
    gap: 10px;
}
.section3{
    height: 2300px;
}
.box1,.box2{
    flex-wrap: wrap;
}
.section4 {
    height: 1600px;
}
.packet1, .packet2, .packet3 {
    display: flex;
    flex-wrap: wrap;
}
.section4 > h2{
    margin: auto;
    margin-bottom: 20px;
}
.footerstart{
    height: 890px;
    flex-wrap: wrap;
}
.footerleft {
    margin-left: 10px;
    margin-top: 0px;
}
.footerleftdetails {
    min-width: 331px;
}
.footermiddle {
    margin-left: 20px;
    min-width: 1000px;
}
.footerright {
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 0px;
    max-width: 1000px;
}
.footer{
    height: 950px;
}   
}
/* Responsive for Mobile-S */
@media screen and (max-width: 320px){
.left {
    gap: 0px;
    margin-left: 0px;
    margin-bottom: 20px;
}
.right, .right > a {
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 10px;
    gap: 10px;
}
.Header {
    height: 30%;
    gap: 10px;
}
#object8 {
    margin: auto;
}
#object7 {
    margin: auto;
}
.section3{
    height: 2300px;
}
.box1,.box2{
    flex-wrap: wrap;
}
.section4 {
    height: 1600px;
}
.packet1, .packet2, .packet3 {
    display: flex;
    flex-wrap: wrap;
}
.section4 > h2{
    margin: auto;
    margin-bottom: 20px;
}
.footerstart{
    height: 990px;
    flex-wrap: wrap;
}
.footerleft {
    margin-left: 10px;
    margin-top: 10px;
}
.footerleftdetails {
    min-width: 270px;
}
.footermiddle {
    margin-left: 20px;
    min-width: 300px;
}
.footerright {
    margin-top: 60px;
    margin-bottom: 0px;
    margin-left: 20px;
    min-width: 300px;
}
.footer{
    height: 1050px;
}
}